<div style="height: 40px;">
<h2 style="display: inline;">
tinyApp URL shortener!
</h2>
<span style="width: 150px; display: inline-block"></span>
<% if (username) { %>
  <h3 style="display: inline-block">currently logged in as <%= username %></h3>
  <span style="width: 30px; display: inline-block"></span>
  <form style="display: inline" action="/logout" method="POST">
    <input type="submit" value="Log out">
  </form>
<% } else { %>
  <form style="display: inline" action="/login" method="POST">
    <h3 style="display: inline-block">
      <label for="username">Enter user name:</label>
    </h3>
    <input id="username" type="text" name="username" placeholder="guest" required style="width: 100px">
    <input type="submit" value="Log in">
  </form>
<% } %>

</div>
<hr>