<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  </head>
  <body>
    <% include partials/_header %>
    <form class="bigMargin" action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input class="longInput" id="longURL" type="text" name="longURL" placeholder="http://" required>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>