<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
  <table>
  <% for (let url in urls) { %>
    <tr>
      <td><%= url %></td><td>⟾</td><td><%= urls[url] %></td>
      <td><a href=<%= `/urls/${url}` %>>Edit</a></td>
      <td>
        <form style="display: inline" action=<%= `/urls/${url}/delete` %> method="POST">
          <label></label>
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <%} %>
  </table>
  <p>
    Shorten a new URL <a href="/urls/new">here</a>
  </p>
</body>
</html>