<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
  <%=  shortURL %> ⟾ <%= longURL %>
  <form action=<%= `/urls/${shortURL}` %> method="POST">
    <label for="longURL">Update URL:</label>
    <input type="hidden" value=<%= shortURL %> name="shortURL">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <p>
    Back to <a href="/urls">index</a>
  </p>
</body>
</html>
