<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <table>
    <% for (let url in urls) { %>
      <tr>
        <td><%= url %></td><td>⤑</td><td><%= urls[url] %></td>
        <td><a href=<%= `/urls/${url}` %>>Edit</a></td>
        <td>
          <form action=<%= `/urls/${url}/delete` %> method="POST">
            <label></label>
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <%} %>
    </table>
    <p>
      Shorten a <a href="/urls/new">new URL</a>
    </p>
  </body>
</html>