body {
  background-color: #EEF;
  font-size: 20px;
  color: #316;
  padding: 30px;
  margin: 10px;
  padding: 20px;
}

h1 {
  color: #CCD;
  text-align: center;
  background-color: #315;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  padding: 5px;
}

h2 {
  color: #D8A;
  display: inline-block;
  font-size: 16px;
}

h3 {
  color: #205;
  font-size: 16px;
  display: inline-block;
}

.ghost {
  color: #888;
}

.legend {
  color: #205;
  font-size:36px;
}

.right {
  text-align: right;
}

.icon {
  font-size: 20px;
}

form {
  width: 50%;
}

a {
  color: #44D;
}

.bigMargin {
  margin: 100px;
}

.spacer {
  width: 10px;
}

.longInput {
  width: 500px;
}

table {
  padding: 0px;
}

td {
  padding: 10px;
  font-size: 70%;
  text-align: center;
}

th.category1 {
  background-color: #DAB;
}

td.category1 {
  text-align: right;
  background-color: #FDE;
  font-size: 65%;
}

th.category2 {
  background-color: #D9C;
}

td.category2 {
  background-color: #FCF;
  font-size: 65%;
}
